h1{
    font-size: 5.5rem;
    font-weight: bold;
    font-family: 'Bungee Outline', cursive;
    color:#28a745;
    text-align: center;
}

h2{
    font-family: 'Roboto', serif;
    color:#28a745;
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
}

body{
    color: white;
}

section{
    background-color: #000000;
}

#gameCodeInput {
    width: 250px;
}

#initialScreen div {
    background-image: url('snake.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#canvas {
    border: 3px solid whitesmoke;
  }

.btn-success {
    color: #fff;
    background-color: #28a74500;
    border-radius: 3px;
    border-width: medium;
}

.btn-borderColorCNG{
    border-color: #7B68EE;
}

.btn-borderColorJG{
    border-color: #ff0000;
}

.btnCNG:hover{
    background-color: #7B68EE;
    border-color: #fff;
}

.btnJG:hover{
    background-color: #ff0000;
    border-color: #fff;
 }

